@font-face {
  font-family: "Bodoni72";
  src: url("../fonts/FuturaMdMedium.eot");
  src: url("../fonts/FuturaMdMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaMdMedium.woff") format("woff"),
    url("../fonts/FuturaMdMedium.ttf") format("truetype"),
    url("../fonts/FuturaMdMedium.svg#FuturaMdMedium") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  background: #fff;
  font: 400 14px "Futura Md Medium", Arial, Helvetica, sans-serif;
  padding: 15px;
  overflow-x: hidden;
}

h1 {
  background: url('../template/logo.png') no-repeat center center;
  background-size: contain;
  width:80px;
  height: 112px;
  display: block;
  text-indent: -9999px;
  margin: 0 auto 15px;
  cursor: pointer;
}

a {
  color: #000;
}

a:hover {
  color: #69b6d3;
}
